<h1>Welcome#index</h1>
<p>
  <strong>Url:</strong>
  http://mdlet718.s3.amazonaws.com/after.m4v

  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/after.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>
<p>
  <strong>Url:</strong>
  http://mdlet718.s3.amazonaws.com/ANOTHER_THIN_MAN.m4v

  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/ANOTHER_THIN_MAN.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>
<p>
  <strong>Url:</strong>
  http://mdlet718.s3.amazonaws.com/home.m4v

  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/home.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>
<p>
  <strong>Url:</strong>
  http://mdlet718.s3.amazonaws.com/SHADOW_OF_THE_THIN_MAN.m4v

  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/SHADOW_OF_THE_THIN_MAN.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>
<p>
  <strong>Url:</strong>
  http://mdlet718.s3.amazonaws.com/song.m4v

  <video width="320" height="240" controls>
    <source src= http://mdlet718.s3.amazonaws.com/song.m4v type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>
